@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Roboto+Flex:wght@100;200;300;400;500;600;700;800;900;1000&family=Roboto:wght@500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'DM Sans', sans-serif;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  box-sizing: border-box;
  background-color: rgb(243 244 246);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}

::-webkit-scrollbar {
  display: none
}

.content::before {
  content: " ";
  position: absolute;
  left: -12px;
  padding: 2px;
  z-index: 99;
  background-color: #5F6165;
  height: 2rem;
  border-radius: 20px;
}